@import "../scss/config";

header {
  display: block;
  background-color: $colorBackgroundSecond;
  margin: $margin;
  padding: $padding;

  ul {
    flex-flow: row;
    li {
      margin-right: $margin * 2;
    }
  }
}