$global-font-family:  verdana, arial, helvetica, serif;
$global-font-weight: normal;
$global-font-style: normal;
$global-text-decoration: none;
$global-font-size: 62.5%;
$global-letter-spacing:  0.08rem;

$colorBackground: #ffffff;
$colorBackgroundSecond: #efefef;
$colorBackgroundThird: #cccccc;

$colorFont: #848484;
$colorFontSecond: #333333;
$colorFontThird:#0470B2;
$colorFontFourth:#de0000;

$margin : 1rem;
$padding : 1.2rem;